.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  margin: 20px auto;
  width: 80%;
}

.logo {
  font-size: 32px;
  font-weight: 800;
}

.activeStyle {
  color: #3861fb;
  font-size: 22px;
  font-weight: bold;
}

.inactiveStyle {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}
.loginButton {
  border-radius: 10px;
  outline: none;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}
.loginButton:hover {
  color: black;
  background: #f3f3f3;
}

.signupButton {
  margin-left: 10px;
  background-color: #3861fb;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}
.signupButton:hover {
  background-color: black;
}

.signoutButton {
  margin-left: 10px;
  background-color: #ea3943;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}
.signoutbutton:hover {
  background-color: #e01822;
}
